<html>
    <body>
        <form action="update?filename=<%=filename%>&id=<%=id%>" method="POST">
        <label>First name</label>
        <input type="text" name="firstname"><br>
        <label>Last name:</label>
        <input type="text" name="lastname"><br>
        <input type="submit" value="update">
        </form>
    </body>
</html>